/* Gerais */
body {
    font-family: Ubuntu Light;
}
  
.row {
    margin: 0;
}
  
.container {
    padding: 70px 0;
}
  
p, li {
    color: #444;
    font-size: 14px;
}
  
/* Barra de navegação */
header, .navbar {
    background-color: #1f1a17;
}
  
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
  
#logo {
    width: 90px;
    padding-right: 20px;
}
  
.navbar-brand {
    padding: 0;
    color: #FFF;
}
  
.navbar-brand:hover {
    color: #FFF;
}


#navbar-links a {
    color: #FFF;
}

.navbar-nav a:hover {
    font-weight: bold;
    cursor: pointer;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
  
.nav-item.active {
    border-bottom: 3px solid #FFF;
}
  
/* Slider */
  
.container-fluid {
    padding: 0;
}
  
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}
  
#mainSlider .carousel-caption {
    top: 30%;
}
  
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}
  
#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}
  
.main-btn {
    background-color: #89ca26;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
  
.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #bbff52;
}
  
.carousel-indicators .active {
    background-color: #89ca26;
}
/* Institucional*/

#about-area {
    background-color: #f9f9f9;
}

.main-title {
 color: #444;
 margin: 0 0 65px 0;
 font-size: 40px;
 text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #f58634;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #89ca26;
    margin-right: 15px;
}

/*Serviços*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;   
}

.service-box:hover > i, .service-box:hover > h4{
    color: #89ca26;
}

/* Clientes*/

contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #89ca26;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h4 {
  font-size: 20px;
  color: #f58634;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color:#89ca26;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background:#89ca26;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background:#bbff52;
}

/* Divulgação */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #FFF;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover {
    border-color: #89ca26 ;
    background-color: #bbff52;
}

/* Footer */

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #89ca26;
}


/* Copy */

#copy-area {
    background-color: #1f1a17;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0%;
    color: #FFF;
}

