/* Gerais */
body {
    font-family: Ubuntu Light;
}
  
.row {
    margin: 0;
}
  
.container {
    padding: 70px 0;
}
  
p, li {
    color: #444;
    font-size: 14px;
}
  
/* Barra de navegação */
header, .navbar {
    background-color: #1f1a17;
}
  
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
  
#logo {
    width: 110px;
    padding-right: 20px;
}
  
.navbar-brand {
    padding: 0;
    color: #FFF;
}
  
.navbar-brand:hover {
    color: #FFF;
}


#navbar-links a {
    color: #FFF;
}

#navbar-links a:hover {
  color: #89ca26;
}

.navbar-nav a:hover {
    color: #bbff52;
    cursor: pointer;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
  
.nav-item.active {
    border-bottom: 3px solid #FFF;
}
  
/* Slider */
  
.container-fluid {
    padding: 0;
}
  
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}
  
#mainSlider .carousel-caption {
    top: 30%;
}
  
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}
  
#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}
  
.main-btn {
    background-color: #89ca26;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
  
.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #bbff52;
}
  
.carousel-indicators .active {
    background-color: #89ca26;
}
/* Institucional*/

#about-area {
    background-color: #f9f9f9;
}

.main-title {
 color: #444;
 margin: 0 0 65px 0;
 font-size: 40px;
 text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #f58634;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #89ca26;
    margin-right: 15px;
}

/*Serviços*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;   
}

.service-box:hover > i, .service-box:hover > h4{
    color: #89ca26;
    cursor: pointer;
}

/* Clientes*/

.clients-box{
    margin-bottom: 60px;
}

.clients-box p {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.clients_logo {
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
}
.img-fluid:hover {
    opacity: 0.6;
}

.clients-logo img {
    max-width: 500px;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    width: 500px;
}

/* Divulgação */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #FFF;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover {
    border-color: #89ca26 ;
    background-color: #bbff52;
}


/* Contatos*/

.contact .info {
  width: 100%;
  background: #fff;
}

.contact-box p {
  text-align: center;
  font-size: 16px;
}

.contact .info i {
  font-size: 20px;
  color: #89ca26;
  float: left;
  width: 44px;
  height: 44px;
  background: #110f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444;
}

.contact .info span {
  padding: 30px 0 0 60px;
  margin-bottom: 0;
  font-size: 16px;
  color: #94c045;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #94c045;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #89ca26;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #bbff52;
}

/*Footer*/

footer {
  background: #110f0f;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #1f1a17;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 3px;
  color: #89ca26;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #89ca26;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #94c045;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #3c4133;
}

#footer .footer-top h4::after {
  background: #89ca26;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 0 0 15px 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .footer-links ul a:hover {
  color: #bbff52;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top {
  margin-bottom: 30px;
}

#footer .footer-top input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border-radius: 4px 0 0 4px;
}

#footer .footer-top input[type="submit"] {
  background: #94c045;
  border: 0;
  border-radius: 0 4px 4px 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top input[type="submit"]:hover {
  background: #789d35;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#copy-area {
  padding: 0;
}