/* Gerais */
body {
    font-family: Ubuntu Light;
}
  
.row {
    margin: 0;
}
  
.container {
    padding: 70px 0;
}
  
p, li {
    color: #444;
    font-size: 14px;
}
  
/* Barra de navegação */
header, .navbar {
    background-color: #1f1a17;
}
  
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
  
#logo {
    width: 75px;
}
  
.navbar-brand {
    padding: 0;
    color: #FFF;
}
  
.navbar-brand:hover {
    color: #FFF;
}
  
#navbar-links a {
    color: #FFF;
}

.navbar-nav a :hover {
    font-weight: bold;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
  
.nav-item.active {
    border-bottom: 3px solid #FFF;
}
  
/* Slider */
  
.container-fluid {
    padding: 0;
}
  
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}
  
#mainSlider .carousel-caption {
    top: 30%;
}
  
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}
  
#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}
  
.main-btn {
    background-color: #89ca26;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
  
.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #bbff52;
}
  
.carousel-indicators .active {
    background-color: #89ca26;
}
/* Institucional*/

#about-area {
    background-color: #f9f9f9;
}

.main-title {
 color: #444;
 margin: 0 0 65px 0;
 font-size: 40px;
 text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #f58634;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #89ca26;
    margin-right: 15px;
}

/*Serviços*/

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;   
}

.service-box:hover > i, .service-box:hover > h4{
    color: #89ca26;
}

/* Clientes*/

.clients-box{
    margin-bottom: 60px;
}

.clients-box p {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.clients_logo {
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
}
.img-fluid:hover {
    opacity: 0.6;
}

.clients-logo img {
    max-width: 500px;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    width: 500px;
}

/* Divulgação */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #FFF;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover {
    border-color: #89ca26 ;
    background-color: #bbff52;
}

/* Footer */

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #89ca26;
}


/* Copy */

#copy-area {
    background-color: #1f1a17;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0%;
    color: #FFF;
}

